.category-head {
    height: 44px;
    display: flex;
    align-items: center;
    background-color: var(--white-color);


    &__list {
        display: flex;
        max-width: 100%;
        overflow-x: hidden;
        position: relative;
        scroll-behavior: smooth;
    }

    &__item {
        display: flex;
        flex-shrink: 0;
        padding: 0 16px;
    }

    &__link {
        font-size: 1.4rem;
        text-decoration: none;
        color: var(--category-color);
        display: inline-block;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__next,
    &__prev {
        & i {
            font-size: 1.6rem;
            color: #272728;
        }
    }

    &__next {
        background-color: var(--white-color);
    }

    &__prev {
        opacity: 0;
    }

}

// Category menu mobile tablet
.list-category-mobile-tablet {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    z-index: 99999999;
    display: none;
    overflow-y: auto;
    padding-bottom: 80px;

    &::-webkit-scrollbar {
        display: none;
    }

    &.show-on {
        display: block;
    }
}

.list-category {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 3);
        padding: 0 16px;
        margin: 12px 0;
    }

    &__img {
        width: 64px;
        height: 64px;
        object-fit: cover;
    }

    &__title {
        display: block;
        font-size: 1.3rem;
        line-height: 20px;
        margin: 8px 0px 0px;
        max-height: 40px;
        overflow: hidden;
        text-align: center;
    }
}

.category {
    position: relative;


    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 10px;
        left: 0;
        top: 0;
        background-color: #F5F5FA;
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 20px;
        left: 0;
        bottom: -15px;
        background-color: #F5F5FA;
    }

    &-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
    }

    &-title {
        font-size: 2rem;
        color: var(--black-color);
    }

    &-more {
        font-size: 1.4rem;
        color: var(--primary-color);
        text-transform: uppercase;
    }

    &-wrapper {
        background-color: var(--white-color);
        margin-top: 15px;
        border-radius: 4px;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 12px 8px;

        & a {
            color: var(--primary-text);
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        &:hover {
            opacity: 0.95;
        }

        &__img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 20px;
        }

        &__title {
            text-align: center;
            margin: 12px 0px 16px;
            padding: 0px 12px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            font-size: 1.3rem;
            line-height: 20px;

        }
    }
}